exclude .gitignore
include README.md
include setup.cfg
include requirements.txt
include prox/libs/templates/repo.yml
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
